/* 
IMAGE REFERENCES:

woman at computer: https://as1.ftcdn.net/jpg/01/19/94/92/500_F_119949244_N6ZrNBPIGmeTazLwxgnCqPzUatgGFIsT.jpg

laptop & pineapple:
https://images.unsplash.com/photo-1474929550468-4700a789f57e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80

public-speaking:
https://images.unsplash.com/photo-1475721027785-f74eccf877e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80

window washing:
https://images.unsplash.com/photo-1469981283837-561b3779462f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80

automotive shop:
https://images.unsplash.com/photo-1530035415911-95194de4ebcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80

ORANGE COLOR: 
rgba(231, 76, 60, 0.50)

*/


/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    max-width: 1140px;  
}

/* ----- HEADINGS ----- */

h1 {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    color: #e5e5e5;
    font-size: 4.5rem;
}

h2 {
    margin-top: 0;
    letter-spacing: 2px;
    color: #e5e5e5;
    font-size: 2.5rem;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0 0 25px 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

br {
    display: none;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/office-pineapple.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.front-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ---------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------- */

ul {
    width: 100%;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-buttons {
    display: inline-block;
    list-style-type: none;
    color: black; 
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 5rem;
    padding: 5px 20px;
    color: #e5e5e5;
    border: #e5e5e5 1px solid;
    border-radius: 10px;
    transition: background 500ms ease;
}

.nav-buttons:hover {
    background:#e5e5e5;
    color:black;
}


/* ---------------------------------------- */
/* QUOTATION */
/* ---------------------------------------- */

.quote {
    background-color: #faefef;
    color: black;
    padding: 50px 100px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .5px;
}

/* ---------------------------------------- */
/* PROJECTS */
/* ---------------------------------------- */


#projects {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px 40px 40px 40px;
    text-align: center;
}

#projects h3 {    
    color: #e5e5e5;
}

.img {
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
    font-weight: bold;
    color: #e5e5e5;
    font-size: 1.2rem;
    margin: 5px 20px;
}

.projects__icons {
    display: flex;
    height: auto;
    justify-content: space-around;
}

.projects__speech-tutor img {
    padding: 1em 1em 0 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.projects__window-washing img{
    padding: 1em 1em 0 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.projects__auto-shop img{
    padding: 1em 1em 0 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}


/* ---------------------------------------- */
/* TECHNOLOGIES */
/* ---------------------------------------- */

#technologies {
    background-color: #faefef;
    padding: 30px;
    text-align: center;
}

#technologies h3 {
    color: black;
}

.tech-logo {
    display: flex;
    height: auto;
    justify-content: space-around;
}

.tech-logo__html img{
    padding: 0 1em;
    text-align: center;
    width: 60%;
    height: 60%;
}

.tech-logo__css img{
    padding: 0 1em;
    text-align: center;
    width: 60%;
    height: 60%;
}

.tech-logo__js img{
    padding: 0 1em;
    text-align: center;
    width: 60%;
    height: 60%;
}

.tech-logo__ps img{
    padding: 0 1em;
    text-align: center;
    width: 60%;
    height: 60%;
}

/* ---------------------------------------- */
/* ABOUT ME */
/* ---------------------------------------- */

#aboutme {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    text-align: center;
    color: #e5e5e5;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    align-items: center;
}

.aboutme_text {
    text-align: left;
    color: #e5e5e5;
    font-size: 1.25rem;
}

.profilepic {
    border-radius: 200px;
    width: 60%;
}

/* ---------------------------------------- */
/* CONTACT */
/* ---------------------------------------- */

.contact-info {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 30px;
    color: black;
    text-align: right;
}

.icon-contact {
    margin: .5em;
    font-size: 3rem;
}
